@page "/countrydetail/{Id}"

@inject ICountryService _countryService
@inject IMessagingService _messagingService

@if (@SelectedCountry != null)
{
    @if (@_currentMode == @Mode.View)
    {
        <h2>Details for @SelectedCountry.countryName ( @SelectedCountry.countryId )</h2>
        <br />
        <div><span>id: </span>@SelectedCountry.countryId</div>
        <div><span>name: </span>@SelectedCountry.countryName</div>
        <button class="clear" @onclick="Edit"> Edit</button>
    }
    @if (@_currentMode == @Mode.Edit)
    {
        <h2>Edit data for @SelectedCountry.countryName ( @SelectedCountry.countryId )</h2>
        <div>
            <label> code: </label>
            <input @bind="SelectedCountry.countryId" placeholder="CountryId">
        </div>
        <div>
            <label> name: </label>
            <input @bind="SelectedCountry.countryName" placeholder="Name">
        </div>
        <button class="clear" @onclick="Save"> Save</button>
    }
}

@code
{
    enum Mode { View, Edit };

    Mode _currentMode = Mode.View;

    [Parameter]
    public long Id { get; set; }


    public Country SelectedCountry { get; set; }

    private List<Country> _countries;
    protected override async Task OnInitializedAsync()
    {
        _countries = await _countryService.GetCountries();
        SelectedCountry = _countries.First(x => x.countryId == Id);
    }

    private async Task Edit()
    {
        _currentMode = Mode.Edit;
        await _messagingService.Add("CountryDetail::Country edited: " + SelectedCountry.countryName + " ("
        + SelectedCountry.countryId + ")");
    }

    private async Task Save()
    {
        _currentMode = Mode.View;
        await _countryService.Update(SelectedCountry);
        await _messagingService.Add("CountryDetail::Country saved: " + SelectedCountry.countryName + " ("
        + SelectedCountry.countryId + ")");
    }
}
